---
permalink: /404.html
layout: layout.njk
title: "Page Not Found"
---

<div class="container text-center my-5">
  <h1>404</h1>
  <h3>Oops! Page not found.</h3>
  <p>The page you were looking for doesn’t exist or has been moved.</p>
  <a href="/leabharlann/" class="btn btn-primary">Back to Home</a>
</div>
